body {
    background: #f5d9d5;
}

#navbar {
    transition: 0.3s;
}

#navbar .navbar-brand {
    color: crimson;
}

#navbar a {
    color: white;
    transition: none;
}

#navbar a:hover {
    color: crimson;
}

#home span {
    color: crimson;
}

p {
    text-align: justify;
}